---
{% include "files/disclaimer.txt" %} 

# ansible-proflow v{{ version }} | MIT License
# Built from https://galaxy.ansible.com/cedricpoon/proflow

# For positive provision please update main.present.yml
# For negative provision please update main.absent.yml

- name: proflow | check present
  stat: 
    path: "{{'{{'}} role_path {{'}}'}}/tasks/main.present.yml"
  register: __present__

- name: proflow | check absent
  stat: 
    path: "{{'{{'}} role_path {{'}}'}}/tasks/main.absent.yml"
  register: __absent__

- name: proflow | behave as present
  include_tasks: "main.present.yml"
  when: (state | default('present') == 'present') and __present__.stat.exists

- name: proflow | behave as absent
  include_tasks: "main.absent.yml"
  when: (state | default('present') == 'absent') and __absent__.stat.exists
