---
{% include "files/disclaimer.txt" %} 

# ansible-proflow v{{ version }} | MIT License
# Built from https://galaxy.ansible.com/cedricpoon/proflow

# For positive provision please update main.present.yml
# For negative provision please update main.absent.yml

- name: proflow | checkout state
  set_fact:
    __state__: "{{'{{'}} state | default('present') {{'}}'}}"
  when: __state__ is not defined

- name: proflow | check {{'{{'}} __state__ {{'}}'}}
  stat:
    path: "{{'{{'}} role_path {{'}}'}}/tasks/main.{{'{{'}} __state__ {{'}}'}}.yml"
  register: __task__
  delegate_to: localhost

- block:
  - name: proflow | behave as present
    include_tasks: "main.present.yml"
    when: __state__ == 'present' and __task__.stat.exists
  rescue:
    - name: proflow | failure without rollback
      fail:
        msg: failed task in present
      when: rollback is undefined
    - name: proflow | set state to absent for rollback
      set_fact:
        __state__: absent
      when: rollback is defined
    - name: proflow | start to rollback
      include_tasks: "{{'{{'}} playbook_dir {{'}}'}}/{{'{{'}} rollback {{'}}'}}"
      when: rollback is defined
    - name: proflow | end of rollback
      meta: end_play

- name: proflow | behave as {{'{{'}} __state__ {{'}}'}}
  include_tasks: "main.{{'{{'}} __state__ {{'}}'}}.yml"
  when: __task__.stat.exists
